/*MODELO DE CAIXA

.conteudo {
	border: 1px	solid;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	
	padding: 20px 15px 10px 5px;

	padding: 20px 10px;

	padding: 20px;
	

	margin: 50px 10px;
	
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	

	width: 150px;
}

.conteudo2 {
	margin: 5px;
	width: 150px;
	border: 1px	solid red;
}
*/

/*NOTICIA*/
#noticia {
	background: f9f9f9;
	border: 1px	solid gray;
	padding: 10px;
}

h2 {
	margin: 0px;
	/**/
}