/*Arredondamento com imagens*/
/*Arredondando com imagens como background*/

body { /*fomatação geral do body*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background: #643d87;
	color: #fff;*/
}

.caixa {
	width: 400px;
	background: #dedede url(../imagens/fundo-arredondamento.png) repeat-y;
}

.caixa h2 {
	padding: 10px 20px 0 20px;
	background: url(../imagens/topo2.png) no-repeat left top;
}

.caixa p {
	padding: 0 20px;
/*	margin-bottom: 0; */
}

.caixa .ultimo {
	padding: 0 20px 20px 20px;
	background: url(../imagens/baixo2.png) no-repeat left bottom;
/*  width:  400px; largura da imagem
	height:  24px; autura da imagem	*/
}