/*Layout fixo largura*/

body { /*fomatação geral do body*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2;
}

#container { /*formatando ID container*/
	width: 720px;
	margin: 0 auto;
	background: #fff;
}

#marca { /*formatando ID marca*/
	height: 100px;
	background: #9e9e9e;
	text-align: center;
	line-height: 100px;
}

#conteudo { /*formatação da ID na div*/
	width: 520px;
	float: right;
}

#conteudo-principal { /*formatação da ID na div*/
 width: 320px;
 float: left;
}

#conteudo-secundario { /*formatação da ID na div*/
	width: 180px;
	float: right;
	background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p { /*formatação da ID na div*/
	padding-left: 10px;
	padding-right: 10px;
}

#navegacao { /*formatação da ID na div*/
 	width: 180px;
 	float: left;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	background: #d1d1d1;
}

#navegacao ul { /*formatando apenas  com a lista dentro dessa ID*/
	list-style: none;
}

/*
ul { formatando todas as listas dentro do Site/Documento
	list-style: none;
	padding: 0;
	margin: 0;
}
*/
#navegacao li a { /*formatand os lisnks denhtro dos conteudos da listas apenas dessa ID*/
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	line-height: 40px;	
}

/*
li a { formatando todos os links dentro dos conteúdos das listas em todos o documento sem especificação
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
}
*/

li a:hover {
	background: #fff;
}

#rodape {
	clear: both;
	background: #c4c4c4;
	padding-bottom: 5px;
}